<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testWeb</title>
    <link type="text/css" rel="stylesheet" media="screen" href="http://127.0.0.1/qunarchat_web/prd/styles/web/page/qchat@version.css" />
</head>
<body>
    <script type="text/javascript" src="http://127.0.0.1/qunarchat_web/prd/navigation@dev.js"></script> 
    <script type="text/javascript" src="http://127.0.0.1/jquery/prd/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="http://127.0.0.1/qunarchat_web/prd/scripts/page/web/qchat@version.js"></script>
</body>